
@{
    ViewBag.Title = "Calculadora";
}

<h2>Calculadora de Sueldos</h2>

<ul>
    <li><a href="~/Calculadora/Programador">Programador</a></li>
    <li><a href="~/Calculadora/Administrador">Administrador</a></li>

</ul>

