
@{
    ViewBag.Title = "Programador";
}

<h2>Calculador Sueldo de Programador</h2>

<div class="container">

    <form action="~/Calculadora/Programador" method="post" role="form" class="form-horizontal">

        <div class="form-group">
            <label for="Nombre" class="control-label col-lg-3">Nombre : </label>
            <input type="text" name="Nombre" value="" class="form-control col-lg-9"/>
        </div>
       
        <div class="form-group">
            <label for="Apellido" class="control-label col-lg-3">Apellido : </label>
            <input type="text" name="Apellido" value="" class="form-control col" />
        </div>

        <div class="form-group">
            <label for="CantidadHoras" class="control-label col-lg-3">Cantidad de Horas : </label>
            <input type="text" name="CantidadHoras" value="" class="form-control col-lg-9" />
        </div>

        <div class="form-group">
            <div class="col-lg-offset-4">
                <button class="btn btn-primary">Calcular</button>
            </div>
            
        </div>

    </form>

</div>