
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>

<div class="container form-horizontal">

    <div class="form-group">
        <label for="Nombre" class="control-label col-lg-3">Nombre : </label>
        <input type="text" name="Nombre" value="@ViewBag.nombre" class="form-control col-lg-9" disabled="disabled"/>
    </div>

    <div class="form-group">
        <label for="Apellido" class="control-label col-lg-3">Apellido : </label>
        <input type="text" name="Apellido" value="@ViewBag.apellido" class="form-control col-lg-9" disabled="disabled"/>
    </div>

    <div class="form-group">
        <label for="Sueldo" class="control-label col-lg-3">Sueldo : </label>
        <input type="text" name="Sueldo" value="@ViewBag.sueldo" class="form-control col-lg-9" disabled="disabled"/>
    </div>

</div>
